.news {
    width: 100%;
    padding: 15px;
    padding-bottom: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    .link {
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 30px;
        color: #9B9B9B;
        text-decoration: none;
        position: relative;
        padding-bottom: 30px;
        &::before {
            content: "";
            position: absolute;
            bottom: -1px;
            left: 0;
            right: 0;
            margin: auto;
            width: 0;
            transition: all ease 0.5s;
            height: 2px;
            background: #4E72CA;
        }
        &:hover, &.active {
            font-weight: 900;
            color: #4E72CA;
            &::before {
                width: 150px;
            }
        }
    }
    &-good {
        margin-left: 70px;
    }
}